<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Green Guardian</title>

    <!-- Custom fonts for this template-->
<link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css" />

<!-- Custom styles for this template-->
<link href="{{ url_for('static', filename='css/gg.css') }}" rel="stylesheet" />


  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <br />
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="{{ url_for('general.index') }}"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-seedling"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Green Guardian</div>
        </a>
        <br />
        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Plant</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            <i class="fas fa-fw fa-leaf"></i>
            <span>Garden</span>
          </a>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Components:</h6>
              <a class="collapse-item" href="{{ url_for('general.mycrop') }}">My Crops</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseUtilities"
            aria-expanded="true"
            aria-controls="collapseUtilities"
          >
            <i class="fas fa-clock"></i>
            <span>Forecasting</span>
          </a>
          <div
            id="collapseUtilities"
            class="collapse"
            aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Menu:</h6>
              <a class="collapse-item" href="{{ url_for('commodityprice.commodityprice')
 }}">Commodity prices</a>
              <a class="collapse-item" href="{{ url_for('weather.current_weather') }}"
                >Current Weather</a
              >
              <a class="collapse-item" href="{{ url_for('weather.upcoming_weather') }}"
                >Upcoming Weather</a
              >
              <a class="collapse-item" href="{{ url_for('news.news') }}">News Updates</a>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <i class="fas fa-brain"></i>
            <span>AI</span>
          </a>
          <div
            id="collapsePages"
            class="collapse"
            aria-labelledby="headingPages"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Options:</h6>
              <a class="collapse-item" href="{{ url_for('disease.diseasedetection') }}"
                >Disease Detection</a
              >
              <a class="collapse-item" href="{{ url_for('crop.crop_recommendation') }}"
                >Crop Recommenation</a
              >
              <a class="collapse-item" href="{{ url_for('fertilizer.fertilizer_recommendation') }}"
                >Fertilizer Recommendation</a
              >
              <a class="collapse-item" href="{{ url_for('price.price_prediction')
 }}"
                >Price Prediction</a
              >
              <a class="collapse-item" href="{{ url_for('chat.chatassistant') }}"
                >Chat Assistant</a
              >
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Connect</div>

        <!-- Nav Item - Pages Collapse Menu -->

        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('community.community') }}">
            <i class="fas fa-fw fa-users"></i>
            <span>Community</span>
          </a>
        </li>
        <hr class="sidebar-divider d-none d-md-block" />
        <div class="sidebar-heading">Others</div>

        <!-- Nav Item - Tables -->

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('general.aboutus') }}">
            <i class="fas fa-info-circle"></i>
            <span>About us</span></a
          >
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form
              class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
            >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control bg-light border-0 small"
                  placeholder="Search for..."
                  aria-label="Search"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <button class="btn btn-info" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="searchDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div
                  class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                  aria-labelledby="searchDropdown"
                >
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control bg-light border-0 small"
                        placeholder="Search for..."
                        aria-label="Search"
                        aria-describedby="basic-addon2"
                      />
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <!-- Nav Item - Alerts -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="alertsDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-bell fa-fw"></i>
                  <!-- Counter - Alerts -->
                </a>
                <!-- Dropdown - Alerts -->
                <div
                  class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="alertsDropdown"
                >
                  <h6 class="dropdown-header">Alerts</h6>

                  <a
                    class="dropdown-item text-center small text-gray-500"
                    href="#"
                    >Show All Alerts</a
                  >
                </div>
              </li>

              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span
                    class="mr-2 d-none d-lg-inline text-gray-600 small"
                  ></span>
                  <i class="fas fa-bars"></i>
                  <!-- Three-line icon -->
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    href="#"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row justify-content-center">
              <div class="col-lg-7 text-center">
                <h1 class="text-success">Disease Detection System<span class="text-success">🦠</span></h1>
                  <h2 class="h2 mb-2 text-gray-900">Upload Image</h2>
                  <div class="card shadow mb-4">
                      <div class="card-body text-gray-900">
                          {% if message %}
                          <p>{{ message }}</p>
                          {% endif %}
                          <form class="user" method="post" enctype="multipart/form-data" action="/disease/predict">
                              <div class="form-group">
                                  <input type="file" class="form-control-file" name="file" id="imageUpload" accept="image/*" onchange="previewImage(this)">
                                  <small class="form-text text-muted">
                                      <i class="fas fa-info-circle"></i> 
                                      Supported formats: JPG, PNG, JPEG. Max size: 10MB
                                  </small>
                              </div>
                              
                              <!-- Image Preview Section -->
                              <div id="imagePreview" class="text-center mb-3" style="display: none;">
                                  <h6>Image Preview:</h6>
                                  <img id="preview" class="img-fluid rounded shadow-sm" style="max-width: 100%; max-height: 200px; border: 2px solid #e3e6f0;">
                              </div>
                              
                              <button type="submit" class="btn btn-primary btn-block" id="uploadBtn">
                                  <i class="fas fa-upload"></i> Upload & Analyze
                              </button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          {% if predicted_class %}
          <div class="row justify-content-center">
              <div class="col-lg-7">
                  <div class="card shadow mb-4">
                    <div class="card-header text-center text-gray-900 ">
                      <h2>Disease Detection Result</h2>
                    </div>
                      <div class="card-body text-gray-900">
                          <!-- Image Display Section -->
                          <div class="text-center mb-4">
                              <h4>Uploaded Image:</h4>
                              <img id="result-img" 
                                   class="img-fluid rounded shadow-sm" 
                                   src="{{ url_for('static', filename='uploads/' + image_filename) }}" 
                                   alt="Uploaded Plant Image"
                                   style="max-width: 100%; max-height: 400px; border: 2px solid #e3e6f0;"
                                   onerror="this.style.display='none'; document.getElementById('image-error').style.display='block';">
                              <div id="image-error" style="display: none;" class="alert alert-warning mt-2">
                                  <i class="fas fa-exclamation-triangle"></i> 
                                  Unable to display image. Please try uploading again.
                              </div>
                          </div>
                          
                          <!-- Prediction Results -->
                          <div class="row">
                              <div class="col-md-6">
                                  <h5><i class="fas fa-bug text-danger"></i> Predicted Disease:</h5>
                                  <p class="font-weight-bold text-primary">{{ predicted_class }}</p>
                              </div>
                              <div class="col-md-6">
                                  <h5><i class="fas fa-percentage text-info"></i> Confidence:</h5>
                                  <div class="progress mb-2">
                                      <div class="progress-bar {% if confidence >= 0.7 %}bg-success{% elif confidence >= 0.5 %}bg-warning{% else %}bg-danger{% endif %}" 
                                           role="progressbar" 
                                           style="width: {{ (confidence * 100)|round(1) }}%">
                                          {{ (confidence * 100)|round(1) }}%
                                      </div>
                                  </div>
                                  {% if check %}
                                  <small class="text-warning">
                                      <i class="fas fa-exclamation-circle"></i> 
                                      Low confidence - consider uploading a clearer image
                                  </small>
                                  {% endif %}
                              </div>
                          </div>
                          
                          <hr>
                          
                          <!-- Symptoms Section -->
                          <div class="mb-3">
                              <h5><i class="fas fa-stethoscope text-warning"></i> Symptoms:</h5>
                              <div class="bg-light p-3 rounded">
                                  <p class="mb-0">{{ symptoms }}</p>
                              </div>
                          </div>
                          
                          <!-- Solution Section -->
                          <div class="mb-3">
                              <h5><i class="fas fa-lightbulb text-success"></i> Recommended Solution:</h5>
                              <div class="bg-light p-3 rounded">
                                  <p class="mb-0">{{ solution }}</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% endif %}
              
        
            </div>
        
        </div>
        
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->

        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="/">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/gg.min.js') }}"></script>

<script>
// Image preview functionality
function previewImage(input) {
    const preview = document.getElementById('preview');
    const previewContainer = document.getElementById('imagePreview');
    const uploadBtn = document.getElementById('uploadBtn');
    
    if (input.files && input.files[0]) {
        const file = input.files[0];
        
        // Validate file type
        if (!file.type.match('image.*')) {
            alert('Please select a valid image file (JPG, PNG, JPEG)');
            input.value = '';
            previewContainer.style.display = 'none';
            return;
        }
        
        // Validate file size (10MB)
        if (file.size > 10 * 1024 * 1024) {
            alert('File size too large. Please select an image smaller than 10MB.');
            input.value = '';
            previewContainer.style.display = 'none';
            return;
        }
        
        const reader = new FileReader();
        reader.onload = function(e) {
            preview.src = e.target.result;
            previewContainer.style.display = 'block';
            uploadBtn.innerHTML = '<i class="fas fa-upload"></i> Upload & Analyze';
            uploadBtn.disabled = false;
        }
        reader.readAsDataURL(file);
    } else {
        previewContainer.style.display = 'none';
        uploadBtn.innerHTML = '<i class="fas fa-upload"></i> Upload & Analyze';
    }
}

// Form submission handling
$(document).ready(function() {
    $('form').on('submit', function() {
        const uploadBtn = $('#uploadBtn');
        uploadBtn.html('<i class="fas fa-spinner fa-spin"></i> Analyzing...');
        uploadBtn.prop('disabled', true);
    });
});
</script>

  </body>
</html>
